* {
  margin: 0;
  padding: 0;
  background-color: #AAA;
  color: #000000;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
  background-color: #CCC;
  position: relative;
  overflow: hidden;
}
.chart {
  background-color: #edf1f0;
  display: block;
}
.point-text {
  font-size: 14px;
}
.axis-description {
  font-size:20px;
}
.axis text {
  font-size: 20px;
}
.axis line {
  stroke: #000000;
}
.title {
  font-size: 30px;
}
.source {
  font-size: 20px;
}
.sign {
  font-size: 20px;
  stroke: none;
  fill: #d7c6b4;
}
.tooltip {
  background-color: #3a84cb;
  position: absolute;
  z-index:2;
  color: #000000;
  font-size: 16px;
  padding: 5px;
  width: 200px;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

}
