* {
  margin: 0;
  padding: 0;
  background-color: #AAA;
  color: #000000;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
  background-color: #CCC;
  position: relative;
  /* overflow: hidden; */
}
.chart {
  background-color: #edf1f0;
  display: block;
}
.axis-x text, .axis-y text{
  font-size: 20px;
}
.axis-x path,.axis-x line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis-y path, .axis-y line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.axis-x .area {
  fill: red;
}
.axis-description {
  font-size: 20px;
}
.title {
  font-size: 30px;
}
.source {
  font-size: 20px;
}
.sign {
  font-size: 20px;
  fill: #d7c6b4;
}
.tooltip {
  background-color: #3a84cb;
  position: absolute;
  z-index:2;
  color: #000000;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
